@import './side/side.css';
@import './browse/browse.css';

* {
  margin: 0;
  padding: 0;
}

.home-container {
  background-color: rgb(16, 16, 16);
  color: white;
  display: grid;
  grid-template-rows: 50px 80%;
  grid-template-columns: 20% 80%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search {
  border: red solid;
  grid-row: 1;
  grid-column: 1 / -1;
}

.side {
  border-right: solid 1px rgb(104, 102, 102);
  grid-row: 2;
  grid-column: 1;
  
}

.list-movies {
  grid-row: 2;
  grid-column: 2;
} 

.loading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
