@import './side/side.css';
@import './browse/browse.css';

* {
  margin: 0;
  padding: 0;
}

.home-container {
  color: white;
  display: grid;
  grid-template-rows: 50px 80%;
  grid-template-columns: 20% 80%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search {
  grid-row: 1;
  grid-column: 1 / -1;
  height: 45px;
}

.side {
  border-right: solid 1px rgb(104, 102, 102);
  grid-row: 2;
  grid-column: 1;
}

.list-movies {
  grid-row: 2;
  grid-column: 2;
} 