.sort-container {
    margin: 10px;
    display: flex;
}

.sort-label {
    padding: 10px;
}

select {
    width: 100px;
    border:  rgb(104, 102, 102) solid 1px;
    border-radius: 30px;
    padding: 10px;
    color: white;
    cursor: pointer;
}