@import './trailer/trailer.css';

.movie-info-container {
  margin: 10px;
  height: 100vh;
  text-align: center;
}

.labels {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.overview {
  background-color: rgb(33, 33, 33);;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  padding: 10px 50px;
}

.tagline {
  text-align: center;
}