@import './movie/movie.css';
@import './popular/popular.css';
@import './top_rated/top.css';

.list-movies {
  margin: 10px;
}

.title {
  font-weight: 500;
  margin-bottom: 10px;
}

.trending, .top_rated {
  display: flex;
  gap: 10px;
}

