.error {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: #888;
  font-family: sans-serif;
  text-align: center;
}

.error-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.error h2 {
  color: #555;
  font-size: 2em;
  font-weight: 400;
}

.error p {
  margin: 0 auto;
  width: 300px;
}
